// Colors Page

$main                          : #A3159D;
$second                        : #FBBF11;

$mainOpacity                    : #f9e8f9;

$red                           : #F65529;
$blue                          : #65BAEC;
$green                         : #1AB64F;
$orange                        : #FF7F00;
$purple                        : #6666F3;
$azrq                          : #115FFB;
$bage                          : #F1D3A0;

$input                         : #DDD;

$white                         : #FFF;
$black                         : #000;
$grey                          : #707070;
$transparentBlack              : #00000099;