@import "../../../styles/abstracts/variables";

.td_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.td_button_large{
     font-size: 22px;
}
.td_purple_button{
     background-color: $main;
     color: $white;
}
.td_yellow_button{
     background-color: $second;
     color: $black;
}
.td_white_button{
     background-color: $white;
     color: $black;
}
.td_blue_button{
     background-color: $blue;
     color: $white;
}
.td_red_button{
     background-color: $red;
     color: $white;
}