@import "styles/abstracts/variables";

.td_profile_calendar{
  .react-calendar {
    padding-top: 0;
    background: $white;
    line-height: 1.125em;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 20px;
    overflow: hidden;

    &--doubleView {
      width: 700px;

      .react-calendar__viewContainer {
        display: flex;
        margin: -0.5em;

        > * {
          width: 50%;
          margin: 0.5em;
        }
      }
    }

    &,
    & *,
    & *:before,
    & *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    button {
      margin: 0;
      outline: none;

      &:enabled {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__navigation {
      display: flex;
      padding: 20px 0;
      background-color: $input;

      button {
        min-width: 44px;
        background: none;
        font-size: 17px;

        &:disabled {
          background-color: $input;
          color: $black;
        }

        &:enabled {
          &:hover,
          &:focus {
            background-color: rgb(230, 230, 230);
          }
        }
      }
    }

    &__month-view {
      .td_tile_active{
        background: $main;
        color: $white;
        &:hover,
        &:focus {
          border: 5px solid $second;
          background: $main;
        }
      }
      .td_tile_active.react-calendar__tile--now{
        background-color: lighten(rgb(220, 220, 0), 30%);
        color: $main;
        text-decoration: underline $main 1px;
        text-underline-offset: 6px;
        transition: all 250ms ease-in 50ms;
        &:hover,&:focus{
          border: 5px solid $main;
          background:lighten(rgb(220, 220, 0), 30%);
          color: $main;
        }
      }
      padding: 20px 30px 25px;
      &__weekdays {
        abbr[title] {
          text-decoration: none;
          cursor: initial;
        }
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;

        &__weekday {
          padding: 0.5em;
        }
      }

      &__weekNumbers {
        .react-calendar__tile {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.75em;
          font-weight: bold;
        }
      }

      &__days {
        &__day {
          width: 75px;
          height: 70px;
          border: 0.5px solid #a9a9a9;
          background-color: $white;
          &--weekend {
            color: rgb(209, 0, 0);
          }

          &--neighboringMonth {
            background-color: $input;
            color: rgb(117, 117, 117);
            border-top: none;
            border-bottom: none;
            &:first-of-type{
              border: none;
            }
            &:last-of-type{
              border: none;
            }
          }
        }
      }
    }

    &__year-view,
    &__decade-view,
    &__century-view {
      .react-calendar__tile {
        padding: 2em 0.5em;
      }
    }

    &__tile {
      max-width: 100%;
      padding: 10px 6.6667px;
      //background: none;
      text-align: center;
      line-height: 16px;
      position: relative;
      .td_tile_reservation{
        color: $second;
        font-size: 12px;
        margin-top: 5px;
      }

      &:disabled {
        background-color: rgb(240, 240, 240);
      }
      &--hasActive {
        $bgcolor: lighten(rgb(0, 110, 220), 30%);
        background: $bgcolor;
      }
      &--active {
        //background-color: rgb(0, 110, 220);
        background: $main;
        color: $white;
      }

      &--now {
        //$bgcolor: lighten(rgb(220, 220, 0), 30%);
        //color: $main;
        //text-decoration: underline $main 1px;
        //text-underline-offset: 6px;
        background-color: lighten(rgb(220, 220, 0), 30%);
        color: $main;
        text-decoration: underline $main 1px;
        text-underline-offset: 6px;
        transition: all 250ms ease-in 50ms;
        &:hover,&:focus{
          border: 5px solid $main;
          background:lighten(rgb(220, 220, 0), 30%);
          color: $main;
        }
        .td_tile_reservation{
          color: $main;
        }
      }
    }

  }

}

.td_booking{
  &_events{
    .modal-height-view{
      height: 450px;
      span{
        width: 50px;
        height: 50px;
      }
      p{
        font-size: 14px;
        color: #8e8e8e;
      }
      button{
        transform: rotate(90deg);
        border: 1px solid #000000;
        width: 30px;
        height: 30px;
      }
    }
  }
}
