@import "styles/abstracts/variables";

.td_orders_table{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $main;
  box-shadow: 0 3px 6px #00000029;
  &_actions{
    &_filters{
      background-color: #F1F2F6;
      border-radius: 50px;
      padding: 5px 8px;
      .td_filter{
        border-radius: 50px;
        padding: 10px 0;
        font-size: 14px;
        cursor: pointer;
          transition: all 300ms ease-in-out 50ms;
        &_active{
          transition: all 300ms ease-in-out 50ms;
          padding: 10px 15px;
          background-color: $white;
        }
      }
    }
  }
  &_header{
    color: $grey;
    margin: 20px 0;
  }
  &_data{
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $input;
    margin-bottom: 15px;
  }
}