@import '../abstracts/mixins';

// Media Grid
@media (max-width: 1000px) {
    // Use Default
    .none-mobile{
        display: none !important
    }

    .tab-mobile, .click-nav, .d-none{
        display: flex !important;
    }

    .w-50, .w-75, .w-25, .btn-button{
        width: 100% !important;
    }

    // Header
    .logo{
        @include flexItem(flex, center, space-between, row, initial);
        width: 100%;
    }
    .list-head{
        @include positionItem(fixed, 0, initial, initial, initial, initial);
        @include transition(0.5s);
        -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        flex-direction: column;
        align-items: initial !important;
        justify-content: initial !important;
        width: 270px;
        height: 100%;
        z-index: 9999;
        background-color: #FFF;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        .user-view-side{
            @include flexItem(flex, center, center, column, initial);
            padding: 20px 0;
            background-color: #f0f0f0;
            border-radius: 0 0 200px 200px;
            margin-bottom: 25px;
            .img-user-pik{
                @include flexItem(flex, center, center, row, initial);
                width: 110px;
                height: 110px;
                background-color: #FFF;
                overflow: hidden;
                border-radius: 10px;
                img{
                    border-radius: 10px;
                }
            }
            h3{
                font-size: 18px;
                font-weight: bold;
            }
        }
        .dropdown, a, .text-start{
            margin: 12px 0;
        }
        .d-flex{
            flex-direction: column;
            align-items: initial !important;
            padding: 0 !important;
        }
        .dropdown-menu{
            .main-drop{
                button{
                    flex-direction: row !important;
                    justify-content: center;
                    margin: 5px 0;
                    position: relative !important;
                    left: 0 !important;
                    right: 0 !important;
                    width: 100% !important;
                    height: 49px !important;
                    font-size: 14px;
                }
            }
            button{
                flex-direction: row !important;
                justify-content: center;
                margin: 10px 0;
            }
            width: 100%;
            right: 0 !important;
            left: 0 !important;
            top: -33px !important;
            &.show{
                transform: translate3d(0px, 28px, 0px) !important;
            }
            .main-drop {
                display: flex !important;
                grid-column-gap: initial !important;
                column-gap: initial !important;
                grid-row-gap: initial !important;
                row-gap: initial !important;
                flex-direction: column;
                a{
                    width: 100% !important;
                    height: auto !important;
                    margin: 5px 0;
                    position: relative !important;
                    right: 0 !important;
                    left: 0 !important;
                }
            }
        }
    }

    // Category Home
    .up-category{
        .item-cate{
            flex-basis: 100% !important;
            .sub-cate{
                img{
                    display: none;
                }
            }
        }
    }

    // Up Bundle
    .up-bundle{
        .item-cate{
            .in-dis{
                margin: 20px 0;
            }
            img{
                display: none;
            }
        }
    }

    // Table
    .table-view{
        overflow-x: auto !important;
    }

    // Block Verify Code
    .verification_container{
        max-width: 95%;
    }

    // Swiper
    .mySwiper {
        height: 400px;
    }

    // Body
    body{
        padding-bottom: 70px;
    }

    // Header User Profile
    .td_profile_header_wrapper{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .td_profile_image_wrapper{
            margin: auto;
            margin-bottom: 20px;
        }
        .td_profile_info_header{
            text-align: center
        }
        .td_profile_info_wrapper{
            @include flexItem(flex, initial, center, column, initial);
            padding: 0;
            .td_profile_info_footer{
                @include flexItem(flex, initial, center, column, initial);
                .in-click{
                    justify-content: space-between;
                }
            }
        }
    
    }

    // Block Items In Profile
    .td_account_info_wrapper{
        @include flexItem(flex, center, center, column, initial);
        height: auto;
        .td_title_wrapper{
            height: 100%;
            @include flexItem(flex, center, center, column, initial);
            .td_titles, .td_description{
                flex-basis: 100%;
                text-align: center;
                margin: 10px 0;
            }
        }
        button{
            width: 100%;
        }
    }

    // Modal
    .td-modal-body {
        width: 90% !important;
        height: 450px;
        overflow-y: auto;
        .td-modal-form-body{
            padding-top: 10px !important;
        }
        .box-result{
            text-align: center;
            .d-flex {
                justify-content: center;
            }
            label{
                text-align: start;
                display: block;
            }   
        }
    }

    .td-modal-form{
        width: 100% !important;
        &-body{
          padding: 40px 15px 0 !important;
        }
    }

    .td-lotto-header-prize, .td-lotto-body-header, .td-lotto-body-header-buttons {
        flex-direction: column;
    }
    .td-lotto-header-prize-countdown{
        align-self: center !important;
    }
    .td-lotto-body-header-logo{
        margin: 10px 0;
    }
    .td-lotto-body-header-buttons{
        button{
            margin: 5px 0;
        }
    }

    .td-card{
        .up-cart{
            max-width: 100% !important;
        }
    }

    .td-price-info {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
        margin-top: 0 !important;
        .td-price-info-details{
            margin-bottom: 20px;
        }
    }

    .td-lotto-body-bundles-wrapper{
        flex-wrap: wrap;
    }

    .bread-crumb .link-head{
        font-size: 11px;
    }

    .saveNum{
        flex-direction: column;
        text-align: center;
        button{
            margin-top: 25px;
        }
    }

    .td-card-body .td-voucher-body-content-bundles {
        padding: 10px !important;
        border-radius: 0;
        border-left: 0;
    }

    .footer-chick-out{
        width: 100% !important;
        .btn-chickout{
            flex-direction: column;
            button{
                margin: 10px 0;
            }
        }
    }

    header .dropdown .dropdown-menu .last-li {
        padding: 15px;
        height: auto;
        width: 100%;
        font-size: 13px;
        margin-top: 5px !important;
    }

    .td-voucher-body-content-bundles {
        padding: 0 !important;
    }

    .td-voucher-card-price {
        font-size: 30px !important;
        .td_currency{
            font-size: 12px;
            top: 8px;
        }
        .td_price_factor{
            top: 20px;
            font-size: 12px;
        }
    }
    .slide-voucher{
        display: none;
    }

    .over-card-bundle{
        justify-content: center;
    }
    
    .card-bun {
        flex-basis: 30% !important;
    }

    .view-check-num table th, .view-check-num table td {
        font-size: 11px !important;
    }

    .view-check-num{
        margin-top: 0px;
        h6{
            font-size: 11px;
        }
    }

    .result-millionaire{
        .checker-result{
            padding: 10px !important;
            .row{
                justify-content: center;
                text-align: center;
                .col-md-7{
                    margin: 20px 0;
                }
            }
        }
        .td-result{
            .d-flex{
                flex-direction: column;
            }
        }
        .ta-table-flow{
            h5, h4{
                font-size: 11px;
            }
            span{
                width: 21px;
                height: 21px;
            }
        }
        .block-checked-body, .block-checked{
            span{
                width: 33px;
                height: 33px;
                font-size: 15px;
            }
        }
    }

    // Booking
    .booking{
        .slide-voucher{
            .block-item{
                height: 40px;
                span{
                    font-size: 10px;
                    text-align: center;
                    font-weight: bold !important;
                }
            }
        }
        .block-search{
            width: 100%;
            margin-top: 10px;
        }
        .result-items{
            .block-item-cate{
                flex-direction: column;
                .img-item{
                    flex-basis: 100%;
                    margin: 10px 0;
                    div{
                        padding: 30px;
                    }
                }
                .img-vocher{
                    .img-des{
                        @include positionItem(absolute, 15px, initial, 0, initial, initial);
                        padding: 0px 40px;
                        span{
                            width: 80px;
                            padding: 5px;
                            font-size: 11px;
                        }
                        h6, p, h5{
                            font-size: 10px;
                            margin: 0 !important;
                        }
                    }
                }
                .up-info-cate{
                    flex-basis: 100%;
                    flex-direction: column;
                    .info-cate{
                        text-align: center;
                        div{
                            justify-content: center;
                        }
                        // > .d-flex{
                        //     flex-direction: column;
                        // }
                    }
                    a{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    .f-c{
        flex-direction: column !important;
        justify-content: center !important;
    }

    .align-self-end{
        align-self: center !important;
    }

    .go-chat{
        display: none;
    }

    .up-to-page{
        bottom: 100px;
    }

    .cate-button{
        margin: auto;
        display: table;
    }

    .ev-poster {
        .c-img{
            height: 130px;
            width: 130px;
        }
    }

    .in-card-loop {
        height: 320px;
    }

    .in-fi-cate{
        flex-direction: column;
    }
    .btn-in-select{
        width: 100%;
        justify-content: space-between;
        .links-filter{
            padding: 0 !important;
        }
    }

    .slide-de .slider-gallery-up img {
        height: 350px;
    }
    
    .slide-de .slider-gallery-down{
        position: relative;
    }

}

@media (max-width: 1200px){

    // Use Default
    .none-mobile-section{
        display: none !important
    }

    .col-6{
        flex-basis: 100%;
    }

    .col, .col-md-6, .col-md-7, .col-md-8, .col-md-5, .col-md-3, .col-md-9, .col-md-4, .col-md-10, .col-md-11, .td_profile_wrapper .col-md-4, .td_profile_wrapper .col-md-8{
        flex-basis: 100%;
    }

    .td-card-body .body-list-card, .td-card-body .td-voucher-body-content-bundles .in-card-loop {
        height: auto;
    }

    // Our Category
    .our-category{
        .img-item{
            height: 170px;
        }
        .over-item{
            h5{
                font-size: 14px;
            }
        }
    }

    // Download
    .up-download{
        margin-top: 20px;
        .col-md-6{
            height: 400px;
        }
        .in-mo{
            text-align: center;
        }
    }

    // Profile
    .act-profile{
        .td_account_info_wrapper{
            height: auto;
        }
    }

    .become-partner{
        .swiper-button-prev, .swiper-button-next{
            display: none;
        }
        .in-cate-images{
            justify-content: center;
            .col-md-4{
                flex-basis: 33.3%;
                padding: 0px 3px;
            }
        }
        #video1{
            height: 300px !important;
            margin-top: 30px;
        }
        .user-friendly{
            .w-75{
                width: 100% !important;
            }
        }
        .in-body-info, .head-title, .block-item{
            text-align: center;
        }
        .user-friendly{
            padding: 0 !important;
        }
        .img-friendly{
            height: 400px;
            width: 100%;
        }
        .videoImg{
            height: 400px !important;
            top: 0 !important;
            margin-top: 20px !important;
        }
    }

}

@media (max-width: 1400px){
    .td-lucky-card-body .td-lucky-nums-wrapper{
        justify-content: center !important;
    }
}

@media (max-width: 1355px){
    .pa-header{
        flex-direction: column;
        .logo{
            margin-bottom: 20px;
        }
        .list-head{
            // a{
            //     overflow-x: hidden;
            //     white-space: nowrap;
            //     text-overflow: ellipsis;            
            // }
        }
    }
}

@media (max-width: 768px){
    h1,h2,h3,h4,h5,h6,p, input, label{
        // font-size: 13px !important;
        word-break: break-word;
    }
    .form{
        button{
            margin: 10px 0 !important;
        } 
    }
    .td_orders_table h4, .td_orders_table_actions_sorting span{
        font-size: 13px;
    }
    .td_bld_type{
        flex-direction: column;
        .up-width{
            margin: 10px 0;
        }
    }
    .info-vocher{
        button{
            margin: 10px 0 !important;
        }
    }
    .px-5 {
        padding: 0 20px !important;
    }
    .notifications{
        padding: 0 10px;
    }
    .form-code{
        .d-flex{
            flex-direction: column;
        }
    }
    .td-lotto-footer{
        flex-direction: column;
        button{
            margin: 10px 0;
        }
    }
    .fleCol{
        flex-direction: column;
    }

    .flex-30, .flex-70{
        flex-basis: 100%;
    }

    .swiper-button-prev.swiper-button-prev, .swiper-button-next.swiper-button-next{
        display: none !important;
    }
    .td_profile_calendar .react-calendar__month-view {
        padding: 0px 0px 0px;
    }
    .td_profile_calendar .react-calendar__tile .td_tile_reservation {
        font-size: 5px;
    }
    .td_profile_calendar .react-calendar__month-view__days__day {
        width: 45px;
        height: 45px;
        font-size: 11px;
        line-height: 10px;
    }
    .td_booking_events .modal-height-view {
        height: auto;
        min-height: auto;
    }
    .td_profile_calendar .react-calendar__month-view__weekdays abbr[title] {
        font-size: 10px;
    }
    .td_profile_calendar .react-calendar__navigation button {
        font-size: 13px;
    }
    .t_h_table_order {
        flex-direction: column;
        .td_orders_table_actions{
            flex-direction: column;
            .td_orders_table_actions_filters{
                margin: 10px 0;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
            }
        }
    }
    .td_booking_events .modal-height-view h5, .td_booking_events .modal-height-view p {
        font-size: 12px;
    }
    .mySwiper, .events-block{
        .info{
            padding: 0 10px !important;
            margin: 0 !important;
            text-align: center;
            max-width: 100% !important;
            > div{
                padding: 0 !important;
                margin: 0 !important;
                text-align: center;
            }
        }
    }
    .table-view .table th, .table-view .table td {
        font-size: 12px !important;
        font-weight: bold !important;
        vertical-align: middle;
    }
}

@media (max-width: 500px){
    .fl-col{
        flex-direction: column;
        justify-content: initial !important;
        align-items: initial !important;
    }
    .td_car_booking .td_img_wrapper {
        margin: auto;
    }
    .in-ti-date{
        h6{
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
    .btn-button {
        font-size: 12px;
    }
    .td_car_details{
        text-align: center;
        button{
            display: table;
            margin: auto;
        }
    }
    .wrap-center{
        flex-wrap: wrap;
        justify-content: center;
    }
    .mySwiper {
        height: 220px;
    }
    .events-block{
        img{
            height: 220px !important;
        }
    }
    .td_input_otp_wrapper .td_input input {
        width: 43px;
        height: 43px;
        font-size: 12px;
        padding: 0;
    }
    .td-lotto-header-prize-money {
        font-size: 30px;
    }
    .filter-action{
        width: 100%;
        .links-filter {
            padding: 0 !important;
            text-align: center;
            width: 100%;
            button{
                width: 100%;
                margin: 5px 0 !important;
            }
        }
    }
    .in-fi-cate{
        .select-add{
            margin-bottom: 10px;
            width: 100%;
            > div{
                width: 100% !important;
            }
        }
    }
    .btn-in-select{
        justify-content: center;
        flex-direction: column;
        .links-filter{
            padding: 0 !important;
        }
    }
    .td_orders_table_actions_filters{
        justify-content: center;
        padding: 8px 0 !important;
    }
    .slide-de .slider-gallery-down .swiper-slide {
        border-radius: 5px;
    }
    .slide-de .slider-gallery-down img {
        height: 70px;
    }
}


